body {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-color: rgb(191 219 254);
}

header {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(191 219 254);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.container {
   width: 100%;
   max-width: 500px;
   background: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   margin-top: 20px;
}

.form-group {
   margin-bottom: 20px;
}

.form-control {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.btn-contact-bg {
   border-radius: 30px;
   color: #fff;
   padding: 15px 27px;
   text-transform: capitalize;
   transition: all 0.3s ease 0s;
   background: #7564e5;
   cursor: pointer;
   width: 100%;
   border: none;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
   background: #232434;
   color: #fff;
}

label {
   font-weight: bold;
   margin-bottom: 8px;
   display: block;
   text-align: left;
}

h1 {
   margin: 20px 0;
}

.bottom-nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(96 165 250);
   padding: 10px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
   z-index: 1;
   height: 70px;
}

.nav-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav-item a {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
   color: #333;
   font-size: 15px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item img {
   width: 30px;
   height: 30px;
   margin-bottom: 5px;
}